<div class="container">
    <div class="clo-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Type</label>
        <select class="form-control form-control-lg" name="id" id="idType" [(ngModel)]="IdType" (change)="onchange()">
            <option *ngFor="let type of types" value="{{type.idType}}">{{type.nomType}}</option>
        </select>
    </div>
    
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom de boisson</th> <th>Prix de Boisson</th> <th>Type</th> </tr>
    <tbody *ngFor="let boisson of boissons   ">
    <tr >
        <td>{{boisson.idBoisson}}</td>
        <td>{{boisson.nomBoisson}}</td>
        <td>{{boisson.prixBoisson}}</td>
        <td>{{boisson.type?.nomType}}</td>

</tr>
    </tbody>

    </table>
    </div>
    </div>

    